
@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: #000028;
    --header-footer-title-color: #DB00FF;
    --header-menu-list-hover: #660045;
    --text-shadow: #FF0070;
    --header-element: #FF0070;
    --section-title-color: #FF0070;
    --content-text-color: #F1B2CE;
    --content-title-color: #000028;
    --container-accent-color: #FF0070;
    --cover-image: url("../images/cover-image-dark.png");
    --footer-title-color: #DB00FF;
  }

  .header__rec-label {
    display: inline-flex;
  }

  .header__rec-label::after {
    display: block;
  }
}

:root.theme-dark {
  --main-element-color: #FF0070;
  --page-background-color: #000028;
  --header-footer-title-color: #DB00FF;
  --header-menu-list-hover: #660045;
  --text-shadow: var(--main-element-color);
  --header-element: var(--main-element-color);
  --section-title-color: var(--main-element-color);
  --content-text-color: #F1B2CE;
  --content-title-color: #000028;
  --container-accent-color: var(--main-element-color);
  --cover-image: url("../images/cover-image-dark.png");
  --footer-title-color: #DB00FF;
}

:root.theme-dark .header__rec-label {
  display: inline-flex;
}

:root.theme-dark .header__rec-label::after {
  display: block;
}

