@media (prefers-color-scheme: light) {
  :root {
    --page-background-color: #FFF1F7;
    --header-footer-title-color: #FFC2E6;
    --header-menu-list-hover: #ADA5A6;
    --text-shadow: #FF8DCB;
    --header-element: #353430;
    --section-title-color: #353430;
    --content-text-color: #353430;
    --content-title-color: #353430;
    --container-accent-color: #FF8DCB;
    --cover-image: url("../images/cover-image-light.png");
    --footer-title-color: #FFC2E6;
  }

  .header__rec-label {
    display: none;
  }
}

:root.theme-light {
    --page-background-color: #FFF1F7;
    --header-footer-title-color: #FFC2E6;
    --header-menu-list-hover: #ADA5A6;
    --text-shadow: #FF8DCB;
    --header-element: #353430;
    --section-title-color: #353430;
    --content-text-color: #353430;
    --content-title-color: #353430;
    --container-accent-color: #FF8DCB;
    --cover-image: url("../images/cover-image-light.png");
    --footer-title-color: #FFC2E6;
}

:root.theme-light .header__rec-label {
    display: none;
}
